Source: unity-webapps-tweetdeck
Section: web
Priority: extra
Standards-Version: 1.0
Maintainer: Dennis Altermann <dennisaltermann@gmail.com>
Build-Depends: debhelper (>=7)
Homepage: https://tweetdeck.twitter.com/

Package: unity-webapps-tweetdeck
Architecture: all
Section: web
Priority: extra
Depends: unity-webapps-common, xdg-utils, ${misc:Depends}
XB-Ubuntu-Webapps-Includes: https://tweetdeck.twitter.com/*;
XB-Ubuntu-Webapps-Name: Tweetdeck
XB-Ubuntu-Webapps-Domain: tweetdeck.twitter.com
Description: Unity Webapp for Tweetdeck
 Tweetdeck Webapp for Unity
